{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-yellow text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>GT Movies Store</h2>
    <p>Unlimited Entertainment for Every Yellow Jacket!</p>
  </div>
</header>
<div class="p-3 centered-heading text-center">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h4>Welcome to Georgia Tech's ultimate movie store!</h4>
      </div>
    </div>
  </div>
</div>
{% endblock content %}